// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// TYPOGRAPHY OF NAVIGATION MENUS
@mixin menu-link-styles {
	font-family: $font-family-regular;//Space mono
	text-transform: uppercase;
	font-size: $font-size__nav;//16px

	&:hover {
		font-weight: bold;
	}
  }

// TYPOGRAPHIE OF CONTACT FORM
@mixin contact-form-label {
	font-family: $font-family__contact-form;//Poppins medium
	text-transform: uppercase;
	font-size: $font-size__small;//12px
}

// TYPOGRAPHIE OH HEADINGS
//H1
@mixin title-level-1 {
	font-family: $font-family-italic-bold;//Space mono bold
	text-transform: capitalize;
	font-size: $font-size__header-banner;//96px
}



//H2
@mixin title-level-2 {
	font-family: $font-family-italic;//Space mono italic
	text-transform: uppercase;
	font-size: $font-size__title-level-2;//66px
}

//H3
@mixin title-level-3 {
	font-family: $font-family-regular;//Space mono
	text-transform: capitalize;
	font-size: $font-size__title-level-3;//18px
} 

//DESCRIPTION
@mixin description {
	font-family: $font-family-regular;//Space mono
	text-transform: uppercase;
	font-size: $font-size__text;//14px
	letter-spacing: 0.1em;
}

//PARAGRAPH
@mixin paragraph {
	font-family: $font-family__text;//Poppins light
	text-transform: capitalize;
	font-size: $font-size__text;//14px
}

//BOUTON
@mixin button {
	font-family: $font-family-regular;//Space mono
	text-transform: capitalize;
	font-size: $font-size__small;//12px
	cursor: pointer;

	&:hover {
		background-color: $color__black;
		font-weight: bold;
		color: $color__white;
	}
}

//FLEX CONTAINERS
@mixin flex-row {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin column-width {
	width: 49%;
}

// BORDER
@mixin border-bottom {
	border-bottom: solid 1px #000000;
}

//Images
@mixin picture {
	object-fit: contain;
    object-position: center;
}

//Thumbnail
@mixin thumbnail {
	object-fit: cover;
    object-position: center;
}

//List of data items
@mixin data-list {
	list-style: none;
    padding: 0;
    margin: 0;
}

