.header-banner {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color__black;
}

h1.header-title {
    @include title-level-1;
    color: transparent;
    -webkit-text-stroke: 3px $color__white;
    text-align: center;
}

//MEDIA QUERIES
//Desktop
@media (max-width: 1302px) {
    h1.header-title {
        padding: 0 15px 0 15px;
    }
}
//Tablets
@media (max-width: 940px) {
    .header-banner {
        height: 70vh;
        padding-top: 72px;
    }
    h1.header-title {
        font-size: $font-size__title-level-1-mobile;
    }
}

//Mobiles
@media (max-width: 481px) {
    .header-banner {
        height: 253px;
    }
}