button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border: none;
	outline: none;
	border-radius: 2px;//
	background: $color__background-button;
	color: $color__black;//
	line-height: 1;
	padding: 8px 15px 8px 15px;//
    @include button;
	height: 50px;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button {
	box-shadow: 0px 2px 1px 0px rgba($color__black, 0.02);
}