//FILTER CONTAINER
.flex-row-container {
    @include flex-row;
    flex-wrap: nowrap;
    padding: 80px 0 40px 0;
    column-gap: 20px;
}
.col-1-filter-wrapper {
    @include column-width;
    display: flex;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 20px;
}
.col-2-filter-wrapper {
    @include column-width;
    display: flex;
    justify-content: flex-end;
}

//SELECT2 JS
// Select2 styles in home.php filter selects
.select-filter {
   @include filter-input;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 18px;
    letter-spacing: 0.36px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $color__link-visited;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $color__link-visited transparent transparent transparent;
}

//select dropdown list
.select-dropdown-list {
    border: none;
    font-family: $font-family__contact-form;//Poppins medium
	font-size: $font-size__small;//12px
    color: $color__link-visited;
    letter-spacing: 0.36px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $color__accent; //red
}

.select2-results__option {
    padding: 11px 24px;
}

//Input of the dropdown list
.dropdown-wrapper {
    flex: 1 1 260px;
    max-width: 260px;
}

.select2-search--dropdown {
    border: 1.3px solid $color__filter-input;
    border-radius: 8px 8px 0 0;
}

.select2-search--dropdown .select2-search__field {
    padding: 0;
}

.select2-search--dropdown {
    padding: 11px 18px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
}

input.select2-search__field:focus {
    outline: none;
}




// MEDIA QUERIES
//Desktop
@media (max-width: 1302px) {
    //Section 1
    .main-section {
        padding-top: 29px;
   }

   // Home filter
   .flex-row-container {
    margin-top: 0;
    padding: 0 146px 25px 146px;
    }

   .col-1-filter-wrapper, .col-2-filter-wrapper {
    margin: 8px 0 8px 0;
    }
         
}

@media (max-width: 1024px) {
    .col-2-filter-wrapper .dropdown-wrapper {
        max-width: 75%;
    }
}

//Tablets
@media (max-width: 940px) {
    .flex-row-container {
        padding: 0 89px 25px 89px;
    }
}

@media (max-width: 768px) {
        .col-2-filter-wrapper .dropdown-wrapper {
        max-width: none;
    }
}

@media (max-width: 570px) {
        .flex-row-container {
            flex-direction: column;
            width: 100%;  
        }

        .col-1-filter-wrapper, .col-2-filter-wrapper {
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px 0 8px 0;
        }

        .dropdown-wrapper {
          max-width: 270px;
        }
}

@media (max-width: 425px) {
        .col-2-filter-wrapper .dropdown-wrapper {
            max-width: 270px;
        }
}

// Mobiles
@media (max-width: 375px) {
    .flex-row-container {
        padding: 0 49px 25px 49px;
    }
}