a {
	color: $color__link;
	cursor: pointer;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;		
	}
}

// Logo
.site-title a {
	text-decoration: none;

	&:visited {
		color: $color__accent;
	}
}

// main nav items
ul#primary-menu a {
	@include menu-link-styles;
}
