// Main site container
.site {
	width: 100%;
	// max-width: $size__site-main;
	height: auto;
}

// Prevent text from overflowing its container when using fallback fonts.
h1, h2, h3, p, a {
	max-width: 100%;
}
