//FIRST SECTION
.main-section {
    padding-top: 38px;
    @include sections;
    // margin: auto;
    // width: 1148px;
}

//section 1 - left column
article.flex-row {
    @include flex-row;
    align-items: flex-end;
}

.photos-data-wrapper {
    @include border-bottom;
    @include column-width;
}

.photos-data {
    width: 75%;
}

.photo-title {
    @include title-level-2;
 }

.data-list {
    @include data-list;
    @include description;
    padding-bottom: 17px;

    & li {
        margin: 20px 0;
    }
}

 //section 2 - right column
.photo-img {
    @include column-width;
}

.photo-img > img {
    @include contain-picture;
}

//SECOND SECTION
//section 1 - left column
div.flex-row {
    @include flex-row;
    gap: 1.2%;
    border-bottom: solid 1px #000000;
}

.cta-call {
    @include paragraph;
}

.contact-cta {
    @include flex-row;
    @include column-width;
 }

 .contact-btn {
    @include button;
    width: 272px;
    height: 50px;

 }

 //section 2 - right column
.photo-navigation {
    @include column-width;
    @include flex-column;
    align-items: flex-end;
    justify-content: center;
    height: 118px;
}

.photo-navigation > div:first-child  {
    @include flex-column;
    justify-content: space-between;
}

.photo-thumbnail {
    width: 81px;
    height: 71px;
}

.photo-thumbnail > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.photo-thumbnail > a > img {
    @include thumbnail;
    width: 100%;
    height: 100%;
}

.prev-next {
    @include flex-row;
    width: 100%;
    font-size: 30px;
}

.nav-next a, .nav-prev a {
    text-decoration: none;
}

// SECOND SECTION
.recommendation-section {
    @include sections;
}
.recommendation-title {
    @include title-level-3;
    letter-spacing: 0.1em;
    margin: 77px 0 52px;
}

.recommendation-section__photos {
    @include flex-row;
    margin-bottom: 109px;
}

.recommendation-section__single-photo {
    width: 564px;
    height: 495px;
    position: relative;
}

.recommendation-section__single-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition:  opacity 0.3s ease;
    padding: 11px 18px;
}

.recommendation-section__single-photo:hover .recommendation-section__single-photo-overlay {
    opacity: 1;
}

.recommendation-section__single-photo img {
    @include cover-picture;
    height: 100%;
}

.recommendation-section__single-photo-overlay a.fullscreen-icon {
    display: block;
    width: 34px;
    height: 34px;
    align-self: flex-end;
}

.fullscreen-icon img {
    width:  100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.recommendation-section__single-photo-overlay a.visibility-icon {
    width: 46px;
    height: 31.2px;
}

.photo-data-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include description;
    color: $color__white;
}


